[submodule "lib/liquidprompt"]
	path = lib/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "lib/z"]
	path = lib/z
	url = https://github.com/rupa/z.git
[submodule "lib/pure"]
	path = lib/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "lib/zsh-syntax-highlighting"]
	path = lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "lib/nerdtree"]
	path = lib/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "lib/syntastic"]
	path = lib/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "lib/tcomment_vim"]
	path = lib/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "lib/vim-ledger"]
	path = lib/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "lib/vim-fugitive"]
	path = lib/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "lib/vim-sensible"]
	path = lib/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "lib/sshrc"]
	path = lib/sshrc
	url = https://github.com/Russell91/sshrc.git
[submodule "lib/gitflow"]
	path = lib/gitflow
	url = https://github.com/nvie/gitflow.git
[submodule "lib/k"]
	path = lib/k
	url = https://github.com/supercrabtree/k.git
[submodule "lib/tlib_vim"]
	path = lib/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "lib/vim-addons-mw-utils"]
	path = lib/vim-addons-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "lib/vim-snipmate"]
	path = lib/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "lib/vim-snippets"]
	path = lib/vim-snippets
	url = https://github.com/honza/vim-snippets.git
